{% if include.btnLink %}<a class="btn{{ include.btnStyle | prepend: " " }}" href="{{ include.btnLink }}" {% if include.external == true %}target="_blank" {% endif %}>{% else %}<span class="btn btn-disabled{{ include.btnStyle | prepend: " " }}">{% endif %}{{ include.btnText}}{% if include.btnLink %}</a>{% else %}</span>{% endif %}
