<footer class="footer pad-t-2">
  <div class="wrapper gutter pad-b-2">
    <a class="bold inline-block push-1-2 mega font-secondary" href="{{site.baseurl}}/">Georgian Politics</a>
    {% include utilities/nav.liquid navClass='nav-footer' %}
  </div>
  <div class="sub-footer">
    <div class="wrapper island text-center">
      <small>Designed, developed, and written by <a href="https://adamrobillard.ca">Adam Robillard</a></small>
    </div>
  </div>
</footer>
