<header class="masthead">
  <div class="wrapper gutter-1-2">
    <a class="inline-block logo-wrap" href="{{site.baseurl}}/">
    {% if page.url == '/' %}
      <h1 class="tera push-0 gutter-1-2">Georgian Politics</h1>
    {% else %}
      <strong class="tera block gutter-1-2 font-secondary">Georgian Politics</strong>
    {% endif %}
    </a>
    {% include utilities/nav.liquid navClass='nav' %}
    <a class="menu-tog m-0" href="#">
      <span class="tog-top"></span>
      <span class="tog-middle"></span>
      <span class="tog-bottom"></span>
    </a>
  </div>
</header>
