---
layout: default
---
{% include patterns/banners/hero.liquid headline='Welcome to Port George' byline='A city-state at the height of its prosperity and infuence. Opportunity is waiting for those who wish to seek it!' img='/images/banner-home.jpg' %}
<section class="pad-t-2 pad-b-2">
  <div class="wrapper grid island page-list-icons">
    <a class="unit [ xs-1-2 m-1-3 l-1-5 ] island" href="items/">
      <div class="embed embed-1by1 bg-primary push-1-2">

      </div>
      <strong class="block text-center giga">Items</strong>
    </a>
    <a class="unit [ xs-1-2 m-1-3 l-1-5 ] island" href="factions/">
      <div class="embed embed-1by1 bg-primary push-1-2">

      </div>
      <strong class="block text-center giga">Factions</strong>
    </a>
    <a class="unit [ xs-1-2 m-1-3 l-1-5 ] island" href="locations/">
      <div class="embed embed-1by1 bg-primary push-1-2">

      </div>
      <strong class="block text-center giga">Locations</strong>
    </a>
    <a class="unit [ xs-1-2 m-1-3 l-1-5 ] island" href="npcs/">
      <div class="embed embed-1by1 bg-primary push-1-2">

      </div>
      <strong class="block text-center giga">NPCs</strong>
    </a>
    <a class="unit [ xs-1-2 m-1-3 l-1-5 ] island" href="stores/">
      <div class="embed embed-1by1 bg-primary push-1-2">

      </div>
      <strong class="block text-center giga">Stores</strong>
    </a>
  </div>
</section>
<section id="introduction" class="introduction bg-grey-light">
  <div class="split-img-text grid grid-stretch wrapper">
    <div class="unit [ xs-1 m-1-3 l-1-2 ] split-img">
    </div>
    <div class="unit [ xs-1 m-2-3 l-1-2 ] split-text">
      <div class="split-text-content">
        <h2>Campaign Introduction</h2>
        <p>The coastal city-state of Port George is in a period of great wealth and prosperity. Its booming agriculture combined with its vast shipping network have made it a leader in both wealth and influence within the continent of Creag Mhòr. Its citizens are well fed, employed, and living comfortably. King George VII, the city-state's current ruler, is considered one of the most popular kings in Port George history.</p>
        <p>However, beneath the surface tension is growing. Anonymous factions struggle to maintain or upset the current balance of the city in hopes of gaining power and wealth. The fight has remained secret and the citizens unaware to the potential danger it posses. Until now.</p>
        {% include patterns/btn.liquid btnText="View the campaign" btnLink="https://www.dndbeyond.com/campaigns/630725" external=true %}
      </div>
    </div>
  </div>
</section>
<section id="character-creation" class="pad-t-2 pad-b-2">
  <div class="wrapper gutter">
    <h2>Character Creation</h2>
    <p>For this campaign, PCs will be starting at <strong>level 5</strong>. As we are assuming the PCs have some prior adventuring experience, they will be allowed to start with extra upgrades and equipment beyond the standard starting equipment for level 1. When creating your PC, use the standard PC build and add the following:</p>
    <ul class="gutter push">
      <li>Up to <strong class="text-primary">500gp</strong> worth of <strong>non-magical</strong> equipment upgrades<span class="text-primary">*</span></li>
      <li>Up to <strong class="text-primary">3 points</strong> of upgrades from the <a class="link-mimic" href="#upgrades-table">Upgrades Table</a></li>
    </ul>
    <small class="block push">*PCs may keep a maximum of 100gp of leftover gold after making upgrades.</small>
    <p class="mega bold push-2">Don't forget to add your character to the <a href="https://ddb.ac/campaigns/join/6307252420372077" target="_blank">DnD Beyond campaign</a>!</p>
    <h3 id="upgrades-table">Upgrades Table</h3>
    {% include patterns/upgrades-table.liquid %}
  </div>
</section>
