---
layout: content-overview
title: NPCs
permalink: /npcs/
---
<section id="faction-list" class="pad-t-2 pad-b-2">
  <div class="wrapper gutter">
    <h2>NPCs in Faction</h2>
    {% for factions in site.factions %}
      {% if factions.discovered == true or site.data.view-controls.player-view == false %}
      {% capture factionID %}{{ factions.title | downcase | replace: " ", "-" }}{% endcapture %}
      <div id="#{{ factionID }}" class="faction-npcs-block">
        <h3>{{ factions.title }}</h3>
        <div class="grid">
          {% for npcs in site.npcs %}
            {% if npcs.faction == factions.faction %}
              {% if npcs.discovered or site.data.view-controls.player-view == false %}
                <a class="unit [ xs-1 m-1-2 ] link" href="{{site.baseurl}}{{ npcs.url }}">
                  <h4>{{ npcs.title }}</h4>
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<section id="faction-list" class="pad-t-2 pad-b-2">
  <div class="wrapper gutter">
    <h2>NPCs not in Factions</h2>
    <div class="grid">
    {% for npcs in site.npcs %}
      {% if npcs.discovered or site.data.view-controls.player-view == false %}
      {% if npcs.faction == null %}
        <a class="unit [ xs-1 m-1-2 ] link" href="{{site.baseurl}}{{ npcs.url }}">
          <h4>{{ npcs.title }}</h4>
        </a>
        {% endif %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
