.card {
  background-color: #fff;
  border: 1px solid $color-grey;
  border-radius: $border-radius;
  box-shadow: $shadow;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: $color-grey-dark;
  transition:
    color $transition,
    box-shadow $transition;
  @include hov() {
    box-shadow: $shadow-hover;
    color: $color-grey-dark;
  }
}

.card-item-preview {
  @extend .card;
  display: flex;
  align-items: center;
  .img-preview {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: 1px solid $color-grey;
    margin-right: .65rem;
    @include bgBasic();
  }
  .img-preview-placeholder {
    width: 3rem;
    height: 3rem;
    margin-right: .65rem;
    border: 1px solid $color-grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey-dark;
  }
  p {
    flex-grow: 2;
    font-weight: 600;
    padding-right: .65rem;
    color: $color-primary;
  }
  .icon-wrap {
    color: $color-grey;
  }
  &.purchased::after {
    content: "Purchased";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    background-color: $color-primary;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
    transition:
      opacity $transition;
  }
  &.purchased:hover::after,
  &.purchased:focus::after {
    opacity: .1;
  }
}

.card-item-info {
  @extend .card;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    // align-items: flex-end;
    // flex-wrap: wrap;
    // min-height: 5rem;
    background-color: $color-primary;
    color: #fff;
    div {
      width: calc(100% - 3.65rem);
    }
    h3 {
      color: #fff;
      margin: 0;
    }
  }
  .img-preview {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border: 1px solid $color-grey;
    margin-right: .65rem;
    @include bgBasic();
  }
  .img-preview-placeholder {
    background-color: #fff;
    border: 1px solid $color-grey;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    margin-right: .65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-grey-dark;
  }
  .item-info {
    display: flex;
    flex-wrap: wrap;
    p {
      width: 50%;
      .label {
        font-weight: 600;
        color: $color-primary;
      }
    }
  }

  .description {
    border-top: 1px solid $color-grey;
    :last-child {
      margin: 0;
    }
  }
  .description-borderless {
    @extend .description;
    border: 0;
  }
}

.card-faction-preview {
  @extend .card;
  display: block;
}

.card-quest-log {
  @extend .card;
  @include min(38) {
    min-height: 20rem;
  }
  h3 {
    margin-top: 0;
    padding: .65rem;
    color: #fff;
    background-color: $color-primary;
    &.discovered {
      background-color: adjust-hue($color-primary, 60deg)
    }
    &.active {
      background-color: rgb(255, 222, 0);
      color: $color-grey-dark;
    }
  }
  ol {
    margin: 0;
    padding: .65rem .65rem 0;
  }
  li {
    margin-bottom: .65rem;
  }
  // .unit:nth-child(2) {
  //   border-left: 1px solid $color-grey;
  //   border-right: 1px solid $color-grey;
  // }
}
