.card {
  overflow: hidden;
  border: 1px solid $color-grey;
  border-bottom: 1px solid $color-secondary;
  // border-radius: $border-radius;
  box-shadow: $shadow;
  text-decoration: none;
  background-color: #fff;
  transition:
    box-shadow $transition;
  &:hover, &:focus {
    box-shadow: $shadow-hover;
    .link-mimic {
      color: $color-secondary;
    }
  }
}

.card-preview {
  @extend .card;
  display: flex;
  flex-direction: column;
  &-img {
    padding: .65rem;
    height: 7.5rem;
    display: flex;
    align-items: flex-end;
    background-color: $color-primary;
    @include bgBasic();
    h3 {
      color: #fff;
    }
  }
  &-content {
    padding: .65rem;
    p {
      color: $color-grey-dark;
    }
  }
}
