.masthead {
  a {
    color: #000;
    text-decoration: none;
    transition: color $transition;
    &:hover, &:focus {
      color: $color-grey;
    }
  }
  @include mq(min, $mqM) {
    background-color: $color-grey-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    // border-bottom: 2px solid $color-primary;
    box-shadow: $shadow;
    a {
      color: #fff;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav {
      display: flex;
      > ol {
        display: flex;
        > li {
          padding: 0 .65rem;
          > a {
            padding: 1.3rem 0;
            display: inline-block;
          }
        }
      }
      .dropdown-block {
        background-color: $color-primary;
        display: block;
        position: absolute;
        width: 100vw;
        max-width: calc(52em - 2.6rem);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 0;
        overflow: hidden;
        transition:
          max-height $transition;
        a {
          color: #fff;
          text-decoration: none;
          padding: .325rem;
          display: inline-block;
          &:hover, &:focus {
            color: $color-grey;
          }
        }
        .level-one {
          padding: .975rem;
          .city {
            border-bottom: 1px solid $color-grey;
          }
        }
        .level-two, .level-three {
          // border-left: 2px solid $color-grey;
          padding-left: .325rem;
        }
        .level-one > li,
        .level-two > li {
          display: flex;
          align-items: flex-start;
          .level-three {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            > li {
              width: 50%;
            }
          }
        }
        .level-one > li {
           > a {
            width: 25%;
          }
          .level-two {
            width: 75%;
            > li:not(:last-child) {
              border-bottom: 1px solid $color-grey;
              padding-bottom: .65rem;
            }
            > li > a {
              width: 33.3333%;
            }
            .level-three {
              width: 66.6666%;
            }
          }
        }
      }
      li:hover {
        .dropdown-block {
          max-height: 50vh;
        }
      }
    }
  }
}

.nav {
   > ol {
     // display: none;
   }
   &.open > ol {
     display: block;
   }
}

.breadcrumbs {
  li:not(:last-child) {
    padding-right: 1.3rem;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 1.3rem;
      background-color: $color-secondary-dark;
    }
  }
  // li:last-child a {
  //   color: $color-tertiary;
  // }
  a {
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    &:hover, &:focus {
      color: $color-primary;
    }
  }
}
