html {
  scroll-behavior: smooth;
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: $shadow;
  z-index: 1000;
  &.dm-view {
    background-color: #c62b10;
    .logo {
      #georgian,
      #politics,
      #bear {
        fill: #fff;
      }
    }
    .menu-tog span {
      background-color: #fff;
    }
    .icon-list a {
      color: #fff;
      transition:
        opacity $transition;
      &:hover, &:focus {
        color: #fff;
        opacity: .8;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
  }
  .icon-list {
    margin-bottom: 0;
    padding-left: .65rem;
    margin-left: .65rem;
    margin-right: auto;
    border-left: 2px solid $color-grey;
    > li {
      display: inline-block;
      a {
        color: $color-grey-dark;
        &:hover, &:focus {
          color: $color-primary;
        }
      }
    }
  }
  .menu-tog {
    outline: 0;
    // order: -1;
    width: 1.75rem;
    height: 19px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    span {
      width: 100%;
      height: 3px;
      background-color: $color-primary;
      position: relative;
      transition:
        transform $transition-quick,
        top $transition-quick,
        bottom $transition-quick;
    }
    .tog-top {
      top: 0;
    }
    .tog-bottom {
      // width: 66.6666%;
      bottom: 0;
    }
  }
  h1.logo-wrap,
  .logo {
    width: 100%;
    max-width: 7.5rem;
    display: inline-block;
    transition:
      opacity $transition;
    #georgian {
      fill: $color-grey-dark;
    }
    #politics {
      fill: $color-secondary;
    }
    #bear {
      fill: $color-primary;
    }
    &:hover, &:focus {
      opacity: .8;
    }
  }
  .nav-wrap {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: $color-primary;
    z-index: 1000;
    transform: translateX(-100%);
    transition:
      transform $transition;
    nav > ul > li > a {
      font-weight: 800;
      font-size: 2.0408rem;
      line-height: 2.925rem;
    }
    li.has-subnav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li {
      margin: 0 0 .65rem;
    }
    .subnav-level-one ol > li {
      margin: 0 0 .325rem;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      &:focus {
        outline-color: rgba(255, 255, 255, .5);
      }
      // font-size: 1.68rem;
      // line-height: 2.275rem;
      &.current {
        // color: $color-secondary;
        position: relative;
        &::after {
          content: ' ';
          position: absolute;
          width: 3rem;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: #fff;
        }
      }
    }
    .nav {
      transition:
        transform $transition;
    }
    .has-child-level-two,
    .subnav-level-one > ol > li > a {
      font-size: 1.2962rem;
      line-height: 1.95rem;
    }
    .subnav-level-one,
    .subnav-level-two {
      background-color: $color-primary-dark;
      position: absolute;
      display: none;
      z-index: 1001;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      overflow-x: visible;
      box-shadow: $shadow-hover;
      transform: translateX(100%);
      transition:
        transform $transition;
      .subnav-heading {
        position: relative;
        font-size: 1.7926rem;
        line-height: 2.6rem;
        &::after {
          content: ' ';
          position: absolute;
          bottom: -.65rem;
          left: 0;
          width: 4rem;
          height: 3px;
          background-color: #fff;
        }
      }
    }
    .subnav-level-two {
      background-color: $color-primary-darker;
      overflow-y: scroll;
      top: 0;
      z-index: 1002;
      .subnav-heading {
        font-size: 1.2962rem;
        line-height: 1.95rem;
      }
      ol a {
        font-size: 1.1385rem;
        line-height: 1.625rem;
      }
    }
    &.sub-one-open {
      .subnav-level-one {
        transform: translateX(0);
      }
    }
    &.sub-two-open {
      .subnav-level-one,
      .subnav-level-two {
        transform: translateX(0);
      }
    }
    [class*="back-sub-level-"] {
      font-weight: 400;
      // font-size: 1rem;
      // line-height: 1.3rem;
    }
  }
  &.open {
    .nav-wrap {
      transform: none;
    }
  }
  .sub-open {
    transform: translateX(0)!important;
  }
  @include min($mqL) {
    h1.logo-wrap,
    .logo {
      max-width: 10rem;
    }
    .nav-wrap {
      box-shadow: $shadow;
      width: calc(50vw - 32.5em + 21.6666666667em);
      display: flex;
      justify-content: flex-end;
      &::before {
        content: ' ';
        position: absolute;
        background-color: $color-primary;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        box-shadow: $shadow-hover;
      }
      .sub-open {
        transform: translateX(100%)!important;
      }
      .nav {
        width: 21.6666666667em;
        a {
          transition:
            opacity $transition;
        }
      }
      &:hover ul > li > a,
      .subnav-level-one:hover > ol > li > a,
      .subnav-level-two:hover > ol > li > a {
        opacity: .65;
        &.highlighted {
          opacity: 1;
        }
        @include hov() {
          opacity: 1;
        }
      }
      .subnav-level-one::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary-dark;
        z-index: -1;
        box-shadow: $shadow-hover;
      }
      .subnav-level-one {
        overflow-y: visible;
        overflow-x: visible;
      }
      .subnav-level-one,
      .subnav-level-two {
        transform: translateX(0);
        width: 21.6666666667em;
        height: 100%;
        left: auto;
        right: 1px;
        z-index: -1000;
      }
      &.sub-one-open {
        .subnav-level-one {
          transform: translateX(100%);
        }
      }
      &.sub-two-open {
        .subnav-level-one,
        .subnav-level-two {
          transform: translateX(100%);
        }
      }
    }
  }
}
