<div id="page-nav" class="page-nav-wrap">
  <div class="page-nav-links">
    <strong class="giga block text-primary page-nav-title push-1-2">{{ page.title }}</strong>
    <ol id="page-nav-list" class="list-group push-1-2 pad-b-1-2">
    </ol>
    <a class="to-top" href="#main">To Top</a>
  </div>
  <a class="icon-wrap page-nav-toggle" href="#">
    <div class="opener">
      <i class="icon i-1">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#menu-items" /></svg>
      </i>
      <span class="icon-label hidden">Open Menu</span>
    </div>
    <div class="closer">
      <i class="icon i-1">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#close" /></svg>
      </i>
      <span class="icon-label hidden">Close Menu</span>
    </div>
  </a>
</div>
