---
layout: content-overview
title: Events
permalink: /:collection/
---
{% assign districtLink = site.baseurl | append: "/locations/port-george/districts" %}
<div class="wrapper">
  <section id="introduction" class="gutter">
    <h2>Introduction</h2>
    <p>The events of Georgian Politics are a collections of interactions between different factions who are battling for control of Port George. Some of these interactions are openly hostilen, physical confrontations, others are more subtle and secretive. The key waring factions are the <a href="../factions/anarchists/">Anarchists</a> and the <a href="../factions/council-of-the-bruins/">Council of the Bruins</a> (CoB). At the outset, the CoB know very little about the Anarchists and are caught unawares by the Anarchists initial attacks on the city. The early stages of the campaign will consist of the CoB trying to learn about who they are and what their goals are. The Anarchists however, are well aware of the CoB's existence. The [[organization]] has dealt with them in the past and has specifically prepared to combat them. They are unaware of who the 9 council members are, but are actively seeking information about the organization to combat them.</p>
  </section>
  <section id="outline" class="gutter">
    <h2>Outline</h2>
    <ol class="gutter">
      <li>Market Attack</li>
      <li>Interact with City Guard</li>
      <li>Get scouted by CoB</li>
      <li>Test mission for CoB</li>
      <li>Infiltrate rally</li>
      <li>Investigate shipments of weapons</li>
      <li>Learn about their plans ("The Party")</li>
      <li>The King's bday party</li>
      <li>Investigate the nobles</li>
      <li>Learn the location of the Anarchists headquarters</li>
      <li>Infiltrate the HQ</li>
    </ol>
  </section>
  <section id="events-list">
    <div class="gutter"><h2>Events</h2></div>
    <ol class="grid grid-stretch list-group island-1-2">
      {% for events in site.events %}
      {% unless events.url == page.url %}
      {% if events.url contains 'events' %}
      <li class="unit [ xs-1 m-1-2 ] island-1-2">
        <a class="card-preview" href="{{ events.url }}">
          <div class="card-preview-img" {% if events.img %}style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)), url('{{events.img}}')"{% endif %}>
            <h3 class="giga push-0">{{ events.title }}</h3>
          </div>
          <div class="card-preview-content">
            {{ events.sections[0].content | markdownify }}
            <span class="link-mimic">Learn more.</span>
          </div>
        </a>
      </li>
      {% endif %}
      {% endunless %}
      {% endfor %}
    </ol>
  </section>
</div>
