---
layout: content
title: Events
permalink: /events/
loopExclude: true
---
{% assign districtLink = site.baseurl | append: "/locations/port-george/districts" %}
<div class="wrapper">
  <section id="introduction" class="gutter">
    <h2>Introduction</h2>
    <p>The events of Georgian Politics are a collections of interactions between different factions who are battling for control of Port George. Some of these interactions are openly hostilen, physical confrontations, others are more subtle and secretive. The key waring factions are the <a href="../factions/aghara/">Aghara</a> and the <a href="../factions/council-of-the-bruins/">Council of the Bruins</a> (CoB). At the outset, the CoB know very little about the Aghara and are caught unawares by the Aghara initial attacks on the city. The early stages of the campaign will consist of the CoB trying to learn about who they are and what their goals are. The Aghara however, are well aware of the CoB's existence. The [[organization]] has dealt with them in the past and has specifically prepared to combat them. They are unaware of who the 9 council members are, but are actively seeking information about the organization to combat them.</p>
  </section>
  <section id="outline" class="gutter">
    <h2>Outline</h2>
    <ol class="gutter">
      <li><s>Market Attack</s></li>
      <li><s>Interact with City Guard</s></li>
      <li><s>Stadium Rumble</s></li>
      <li>Aghara meeting invitation</li>
      <li>Get scouted by CoB</li>
      <li>Test mission for CoB</li>
      <li>Infiltrate rally</li>
      <li>Investigate shipments of weapons</li>
      <li>Learn about their plans ("The Party")</li>
      <li>The King's bday party</li>
      <li>Investigate the nobles</li>
      <li>Learn the location of the Aghara headquarters</li>
      <li>Infiltrate the HQ</li>
    </ol>
  </section>
  <section id="events-list">
    <div class="gutter"><h2>Events</h2></div>
    <div class="grid island-1-2">
      {% for event in site.events %}
      {% if event.loopExclude != true %}
      <div class="unit [ xs-1 m-1-2 l-1-3 ] island-1-2">
        {% include patterns/cards/preview-list-item.liquid title=event.title img=event.img url=event.url %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
