<nav>
  <ol class="list-group">
    <li>
      <a href="/locations">Locations</a>
      <div class="dropdown-block">
        <ol class="list-group dropdown-block-items level-one">
          <li>
            <a href="/locations/port-george">Port George</a>
            <ol class="list-group dropdown-block-items level-two">
              <li>
                <a href="/locations/port-george/districts/">Districts</a>
                <ol class="list-group dropdown-block-items level-three">
                  <li>
                    <a href="/locations/port-george/districts/castle-caan">Castle Caan</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/citys-crest">City's Crest</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/district-of-the-divine">District of the Divine</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/market">Market</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/mid-court">Mid Court</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/scholars-row">Scholar's Row</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/the-basin">The Basin</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/the-pastures">The Pastures</a>
                  </li>
                  <li>
                    <a href="/locations/port-george/districts/the-shoreline">The Shoreline</a>
                  </li>
                </ol>
              </li>
              <li>
                <a href="/locations/port-george/families/">Families</a>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </li>
  </ol>
</nav>
