html {
  font-family: $font-primary;
}

@if ($font-secondary) {
  h1, h2, h3, h4, .font-secondary, thead th {
    font-family: $font-secondary;
  }
}

a, .link-mimic, .link {
  transition:
    color $transition,
    border-color $transition,
    background-color $transition;
}

p a, .link-mimic, .link {
  color: $color-primary;
  text-decoration: underline;
  &:hover, &:focus {
    color: $color-secondary;
  }
}

h2 {
  border-bottom: 1px solid #ccc;
  color: $color-primary;
}

.review,
mark {
  color: red;
  background-color: yellow;
}
